dash==2.0.0
dash-ace==0.2.1 
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-defer-js-import==0.0.2
dash-draggable==0.1.2
dash-html-components==2.0.0
dash-mantine-components==0.7.0
dash-pivottable==0.0.2
dash-table==5.0.0
dash-editor-components
Fiona==1.8.20
Flask==1.1.2
geopandas
gunicorn
itsdangerous==1.1.0
Jinja2==3.0.1
pandas
plotly
psycopg2
pyarrow
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
urllib3
Werkzeug==1.0.1
pdfkit